/* Universal */

html {
    font-family: "Helvetica";
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
}

body {
    margin: 0;
    text-align: center;
}

a {
    color: seashell
}

a:hover {
    cursor: pointer;
}

/* Header */

.header {
    height: 69px;
    width: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    top: 0%;
}

.header img {
    height: 50px;
    margin-left: 10px;
    vertical-align: middle;
    align-items: flex-start;
}

.header ul {
    margin-right: 10px;
}

.header > ul  li {
    display: inline;
    text-decoration: underline;
    justify-content: right;
    margin-left: 30px;
}


/* Mission */

.mission {
    height: 700px;
    width: 1200px;
    background-image: url("img-mission-background.jpg");
    margin: 0px auto;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission-text {
    background-color: black;
}

.mission-text h2, h4 {
    margin: 15px 0px;
}

/* Tea of the Month */

.month {
    width: 1000px;
    justify-content: center;
    margin: 0px auto;
}

.month-image img {
    height: 200px;
    width: 300px;
}

.month-image p {
    display: inline-block;
    font-weight: bold;
}

/* Locations */

#locations {
    height: 500px;
    width: 1200px;
    background-image: url("img-locations-background.jpg");
    background-position: center;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.locations-header {
    width: 100%;
}

.locations-header h2 {
    margin: 0px;
    padding-top: 75px;
}

.locations-info {
    display: inline-block;
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 225px;
    margin: 15px 20px;
}


/* Contact Info */

.contact {
    height: 200px;
}

/* Footer */

.footer {
    margin-left: 20px;
    text-align: left;
}