/* Universal */

body {
    margin:0;
    padding: 0;
    font-family: "Fjalla One", sans-serif;
}

/*Header*/

nav {
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 1;
    background-color: white;
}

nav img {
    width: 15%;
    padding-left: 1rem;
    padding-right: 15rem;
}

nav .nav_words {
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 3rem;
}

.nav_words a {
    color: orange;
    text-decoration: none;
}

.nav_words a:hover {
    text-decoration: line-through;
    color:limegreen;
}

/* Title */

.title {
    top: 77.2px;
    display: flex;
    background-image: url(./IMG_4329.jpg);
    background-position-y: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
    color: white;
    border-bottom: .25rem solid white;
}

.title h1 {
    text-align: right;
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 4rem;
    max-width: 40%;
    padding-right: 2rem;
}

.title h2 {
    padding-top: 2.5rem;
    width: 30%;
    padding-left: 2rem;
    font-size: 3rem;
}

/* About */

.about {
    display: flex;
    padding-top: 77px;
}

.about img {
    width: 30%;
    max-height: 85%;
}

#headshot {
    float: left;
    padding: .5rem .5rem 0 0;
    max-width:max-content;
}

.about_container {
    font-family: "Exo 2", sans-serif;
    font-size: 1vw;
    padding: 0 1rem;
    max-height: 85%;
    align-content: center;
    margin: auto 0;
}

.about_container h3 {
    padding-top: 2rem;
}

.about_container p {
    margin: 0;
}

/* Contact */

.contact {
    height: 100px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.contact h1 {
    color: white;
    margin: 0;
    padding-right: 15rem;
}

.contact a img {
    background-color: white;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 2rem;
}

.contact a img:hover {
    opacity: .5;
}