html {
    font-family: "League Spartan"
}

body {
    background-color: cadetblue;
    margin: 0px;
}

h1, h2 {
    color: aliceblue;
    text-align: center;
}

h2 {
    margin-top: 50px;
    font-size: xx-large;
}

h1 {
    margin: 0 auto;
    padding-top: 20px;
}

td {
    padding: 15px;
}

th {
    background-color: gray;
}

table {
    margin: 0 auto;
}

tr {
    background-color: whitesmoke;
    height: 35px;
    font-size: larger;
}

.number {
    text-align: center;
}

header {
    background-image: url('banner.jpg');
    height: 100px;
    text-align: center;
    font-size: 25px;
}

.description {
    width: 1000px;
}